html {
  font-family: monospace;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell {
  display: block;
  height: 100px;
  width: 100px;
  border: 2px solid;
  cursor: pointer;
  font-size: 5rem;
  text-align: center;
  line-height: 100px;
}

#gameContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  width: 311px;
  box-shadow: 0px 0px 0px 2px;
}
